:root {
    --bg-color:#faf0e6
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
}

.nav-link{
    font-weight: 500;
}

#slider{
    position: absolute;
    bottom: 10px;
    height: 3px;
    background-color: var(--bg-color);
    transition: all 0.3s ease;
}

.nav-link:hover{
    color: whitesmoke;
}

#map_distribution{
    --radius: 0
}

#map-container{
    overflow: hidden;
}

.caret-icon {
    display: inline-block;
    transition: transform 0.5s ease;
}

.caret-rotate {
    transform: rotate(-180deg)
}

#map-container .state {
    cursor: pointer;
    fill: none;

}

#map-container .state path{
    transition: fill, opacity 0.5s ease-in-out;
}

#map-container text{
    cursor: pointer;
}

#map-container .borders {
    stroke:#fff;
    stroke-width:2
}

#map-container .state .ak, #map-container .state .hi{
    stroke: dimgrey;
    stroke-width:0.2
}

#map-container .dccircle {

}
#map-container .separator {
    stroke:#B0B0B0;
    stroke-width:1
}

#map-container #map-header{
    position: absolute;
    left: 40%;
    font-size: 40px;
    font-weight: bolder;
    color: seagreen;
    font-family: "Marker Felt", fantasy;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform-origin: center;
    opacity: 0;
}

#map-container #map-header:hover{
    transform: scale(1.2);
}


#map-container svg {
    transition: transform 1s ease;
    transform-origin: center;
}

#map-container svg g.legend{
    transition: opacity 0.5s ease;
}

#map-container svg .state text{
    font-size: 9px;
    font-weight: 600;
    text-anchor:middle;
    fill: black;
}

#map-container svg .state .borders path{
    transition: stroke-width 0.3s ease;
}

#map-container svg:not(.zooming).hovered .state .borders path.hovered{
    transition: stroke-width 0.3s ease;
    stroke-width: 4;
    filter: drop-shadow(0px 0px 2px #ccc);
}

#map-container svg:not(.zooming).hovered .state .borders path:not(.hovered){
    transition: stroke-width 0.3s ease;
    stroke-width: 1
}

#map-container svg.zooming .state .borders path.zoomed{
    transition: stroke 1s ease-in;
    stroke: darkred;
    stroke-width: 0.5;
}

#map-container svg .state text.not-zoomed tspan{
    transition: font-size, opacity 1s linear;
}

#map-container svg.zooming .state text tspan{
    transition: font-size 0.3s ease;
}

#map-container svg.zooming .state text.zoomed tspan{
    transition: font-size,opacity 0.3s linear;
    opacity: 0;
}

#map-container .airport-base .airport, #map-container .airport-base .loc, #map-container .airport-base .stats{
    position: absolute;
    cursor: pointer;
    transition: all 0.5s linear;
    transform-origin: center;
    z-index: 20;
}

#map-container .airport-base .loc{
    color: seagreen;
    font-size: 1.2em;
    opacity: 0;
}

#map-container .airport-base:hover .airport{
    transform: scale(1.5);
}

#map-container .airport .point{
    position: relative;
    width: 0;
    height: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    transform-origin: center;
}

#map-container .airport-base.show .airport .point{
    height : var(--radius);
    width : var(--radius);
    background-color: whitesmoke;
    border: 2.5px solid royalblue;
}
#map-container .airport-base .airport .rank{
    color: royalblue;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease;
    opacity: 0;
}

#map-container .airport-base .name{
    position: absolute;
    cursor: pointer;
    transform-origin: center;
    z-index: 100;
    font-size: 12px;
    color: seagreen;
    font-weight: 900;
    opacity: 0;
}

#map-container .airport-base.show .airport .rank, #map-container .airport-base.show .loc, #map-container .airport-base.show .name{
    opacity: 1;
}

#map-container .airport-base.show.highlight-out .loc,
#map-container .airport-base.show.highlight-out .name,
#map-container .airport-base.show.highlight-out .stats,
#map-container .airport-base.show.highlight-out .airport{
    z-index: 10;
    opacity: 0.2;
}

#map-container .airport-base .stats{
    font-size: 12px;
    box-shadow: 0 0 5px grey;
}

#map-container .airport-base .stats .card-title{
    font-weight: bold;
}

#map-container .airport-base .stats table th{
    font-weight: bold;
}

#map-container .airport-base .stats table th.pos{
    color:darkgreen;
}

#map-container .airport-base .stats table th.neg{
    color:darkred;
}

#searchbox{
    font-size: 15px;
}


#searchbox #filters {
    transition: height 0.5s ease-in-out;
}

#searchbox #toggle-container{
    display: flex;
    border-radius: 10px;
    background-color: rgba(139, 0, 0, 0.3);
    position: relative;
    width: 80px;
    height: 20px;
}

#searchbox #toggle-slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: darkred;
    border-radius: 10px;
    transition: transform 0.5s ease;
    transform: translateX(0%);
}

#searchbox .toggle-btn{
    cursor: pointer;
    user-select: none;
    border-bottom: 2px solid var(--bg-color);
}

#searchbox .toggle-btn.turn {
    color: darkred;
    font-weight: 500;
    border-bottom: 2px solid darkred;
}


#searchbox #toggle-slider.turn{
    transform: translateX(100%);
}

#searchbox .search-icon, #state_control .search-icon{
    font-size: 15px;
    color: #aaa;
}


#searchbox .search , #state_control .search{
    border-radius: 0;
    font-size: 14px;
    border:none;
    background-color: inherit;
    /*border-bottom: 2px solid black;*/
}

#searchbox .search:focus::placeholder, #state_control .search:focus::placeholder {
    color: transparent;
}

#searchbox .search:focus, #state_control .search:focus{
    outline: none;
    box-shadow: none;
    /*border-bottom: 2px solid black;*/
}

#searchbox .progress, #state_control .progress{
    background-color: #cccccc;
}

#searchbox .progress-bar,  #state_control .progress-bar{
    width: 0;
    transition: width 0.3s ease-in-out;
}

#searchbox .progress-bar.focused, #state_control .progress-bar.focused{
    width: 100%;
    transition: width 0.4s ease-in-out;
}

#searchbox .suggestions, #state_control .suggestions{
    font-size: 13px;
    margin-top: 2px;
    border-radius: 0;
    overflow-y: auto;
    background-color: var(--bg-color);
    max-height: 300px;
}

#searchbox .dropdown-item, #state_control .dropdown-item{
    cursor: pointer;
}

#searchbox .dropdown-item:hover, #state_control .dropdown-item:hover{
    background-color: darkred;
    color:white;
}

#state_control .dropdown-item.selected{
    background-color: darkred;
    color: white;
}

#searchbox .selected-items{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}
#searchbox .selected-items .badge{
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    background-color: darkred!important;
}

#searchbox .badge .remove{
    margin-left: 5px;
    font-size: 16px;
}


#searchbox .v-label, #searchbox .v-text-field__slot input{
    font-size: 14px;
}

.form-check-input{
    cursor: pointer;
    outline: none;
}

.form-check-input:checked {
    background-color: darkred;
    outline: none;
    box-shadow: none;
    border-color: darkred;
}

.form-check-input:focus{
    outline: none;
    box-shadow: none;
}

.form-check-input:focus-visible{
    outline: none;
    box-shadow: none;
    /*border-color: orangered;*/
}

.form-check-label{
    user-select: none;
    cursor: pointer;
}

#state_control #num_airports{
    -webkit-appearance: none;
    margin-left: 10px;
    height: 8px;
    background: transparent;
    cursor: pointer;
}


#state_control #num_airports::-webkit-slider-runnable-track {
    background: #ffa94d;
    height: 8px;
    border-radius: 4px;
}

#state_control #num_airports::-moz-range-track {
    border-radius: 4px;
}

#state_control #num_airports::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #e34a33;
    position: relative;
    top:-5px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
}

#state_control #num_airports::-moz-range-thumb {
    background: #e34a33;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: none;
}

#state_control #num_airports:focus {
    outline: none;
}

#state_control #selected_num_airports{
    font-size: 15px;
    line-height:1;
    text-align: center;
    font-weight: bold;
    top:10px;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 0 0 100% 100%;
    color: var(--bg-color);
    background-color: brown;
}

#state_control #selected_num_airports i{
    position: absolute;
    top:-18px;
    left: 0px;
    color: brown;
}

#state_control #time_slots .fa-solid{
    font-size: 1em !important;
}

#state_control #time_slots span{
    font-size: 10px;
    font-weight: bold;
}

#state_control #time_slots .btn:last-child{
    padding-right: 18px;
    padding-left: 18px;
}

#state_control #time_slots .btn{
    transition: transform 0.5s ease;
}

#state_control #time_slots .btn:hover{
    background-color: brown;
    transform: scale(1.1);
}

#state_control #time_slots .btn.active{
    /*color: var(--bs-btn-hover-color);*/
    background-color: brown;
    border-color: brown;
}


#state-chart{
    cursor: pointer;
}


#state-chart #airport-details path, #state-chart #middle_circle{
    transition: all 0.5s ease;
    user-select: none;
}

#state-chart #airport-details text{
    opacity: 0;
    transition: opacity, font-size 0.5s ease;
    user-select: none;
}

#state-chart #airport-details path, #state-chart #delay-group path{
    stroke: var(--bg-color)
}

#state-chart.hovering #airport-details path:not(.hovering){
    stroke-width:0.5;
}

#state-chart.hovering #airport-details path.hovering{
    filter: drop-shadow(4px 4px 8px #ccc);
    stroke-width:5;
}


#state-chart.zoomed #middle_circle{
    opacity: 0;
}

#state-chart.zoomed #airport-details path:not(.zoomed), #state-chart.zoomed #airport-details text{
    opacity: 0!important;
}

#state-chart #delay-group path{
    transition: opacity 1s ease;
    cursor: pointer;
}

#state-chart #delay-group text{
    fill: royalblue;
    font-weight: bold;
}

#state-chart #delay-group .hovering.hovering-0{
    fill:#a463f2
}

#state-chart #delay-group .hovering.hovering-1{
    fill: #e377c2
}

#state-chart #delay-group .hovering.hovering-2{
    fill: #17becf
}

#state-chart #delay-group .hovering.hovering-3{
    fill: #bcbd22
}

#state-chart #delay-group .hovering.hovering-4{
    fill: #7f7f7f
}

#state_legend{
    position: absolute;
    font-size: 15px;
    transition: top 0.5s linear;
}


#state_distribution .legend_color{
    width: 25px;
    height: 25px;
}

#state_distribution .legend-0 .legend_color{
    background-color:#a463f2
}

#state_distribution .legend-1 .legend_color{
    background-color: #e377c2
}

#state_distribution .legend-2 .legend_color{
    background-color: #17becf
}

#state_distribution .legend-3 .legend_color{
    background-color: #bcbd22
}

#state_distribution .legend-4 .legend_color{
    background-color: #7f7f7f
}

#state_distribution .legend_val{
    font-size: 12px;
    font-weight: bolder;
    line-height: 2;
}


