body {
    background-color: whitesmoke;
}

#map-container{
    overflow: hidden;
}


#map-container .state {
    cursor: pointer;
    fill: none;

}

#map-container .state path{
    transition: fill, opacity 0.5s ease-in-out;
}

#map-container text{
    cursor: pointer;
}

#map-container .borders {
    stroke:#fff;
    stroke-width:2
}

#map-container .state .ak, #map-container .state .hi{
    stroke: dimgrey;
    stroke-width:0.2
}

#map-container .dccircle {

}
#map-container .separator {
    stroke:#B0B0B0;
    stroke-width:1
}

#map-container svg {
    transition: transform 1s ease;
    transform-origin: center;
}

#map-container svg g.legend{
    transition: opacity 0.5s ease;
}

#map-container svg .state text{
    font-size: 7px;
}

#map-container svg .state .borders path{
    transition: stroke-width 0.3s ease;
}

#map-container svg:not(.zooming).hovered .state .borders path.hovered{
    transition: stroke-width 0.3s ease;
    stroke-width: 4;
    filter: drop-shadow(0px 0px 2px #ccc);
}

#map-container svg:not(.zooming).hovered .state .borders path:not(.hovered){
    transition: stroke-width 0.3s ease;
    stroke-width: 1
}

#map-container svg.zooming .state .borders path.zoomed{
    transition: stroke 1s ease-in;
    stroke: darkred;
    stroke-width: 0.5;
}

#map-container svg .state text.not-zoomed tspan{
    transition: font-size, opacity 1s linear;
}

#map-container svg.zooming .state text tspan{
    transition: font-size 0.3s ease;
}

#map-container svg.zooming .state text.zoomed tspan{
    transition: font-size,opacity 0.3s linear;
    opacity: 0;
}


#searchbox{

}

#searchbox #toggle-container{
    display: flex;
    border-radius: 10px;
    background-color: rgba(139, 0, 0, 0.3);
    position: relative;
    width: 80px;
    height: 20px;
}

#searchbox #toggle-slider{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: darkred;
    border-radius: 10px;
    transition: transform 0.5s ease;
    transform: translateX(0%);
}

#searchbox .toggle-btn{
    cursor: pointer;
    user-select: none;
    border-bottom: 2px solid whitesmoke;
}

#searchbox .toggle-btn.turn {
    color: darkred;
    font-weight: 500;
    border-bottom: 2px solid darkred;
}


#searchbox #toggle-slider.turn{
    transform: translateX(100%);
}

#searchbox .search-icon {
    position: relative;
    /*bottom: 10px;*/
    font-size: 16px;
    color: #aaa;
}


#searchbox .search {
    border-radius: 0;
    font-size: 14px;
    border:none;
    background-color: inherit;
    /*border-bottom: 2px solid black;*/
}

#searchbox .search:focus::placeholder {
    color: transparent;
}

#searchbox .search:focus{
    outline: none;
    box-shadow: none;
    /*border-bottom: 2px solid black;*/
}

#searchbox .progress{
    background-color: #cccccc;
}

#searchbox .progress-bar{
    width: 0;
    transition: width 0.3s ease-in-out;
}

#searchbox .progress-bar.focused{
    width: 100%;
    transition: width 0.4s ease-in-out;
}

#searchbox .suggestions{
    font-size: 13px;
}

#searchbox .dropdown-menu {
    margin-top: 2px;
    border-radius: 0;
    overflow-y: auto;
    background-color: whitesmoke;
    max-height: 300px;
}

#searchbox .dropdown-item {
    cursor: pointer;
}

#searchbox .dropdown-item:hover {
    background-color: darkred;
    color:white;
}

#searchbox .selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}
#searchbox .selected-items .badge {
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    background-color: darkred!important;
}

#searchbox .badge .remove {
    margin-left: 5px;
    font-size: 16px;
}

#searchbox #delay-filter-label{
    position: relative;
    font-weight: bold;
    left:-20px
}

#searchbox .control{
    position: relative;
    font-size: 15px;
    left:-20px
}

#searchbox .control .v-label, #searchbox .control .v-text-field__slot input{
    font-size: 14px;
}

#searchbox .control .form-check-input{
    cursor: pointer;
    outline: none;
}

#searchbox .control .form-check-input:checked {
    background-color: darkred;
    outline: none;
    box-shadow: none;
    border-color: darkred;
}

#searchbox .control .form-check-input:focus{
    outline: none;
    box-shadow: none;
}

#searchbox .control .form-check-input:focus-visible{
    outline: none;
    box-shadow: none;
    /*border-color: orangered;*/
}

#searchbox .control .form-check-label{
    user-select: none;
    cursor: pointer;
}

