body {
    background-color: whitesmoke;
}

#map-container{
    overflow: hidden;
}


#map-container .state {
    cursor: pointer;
    fill: none;

}

#map-container .state path{
    transition: fill, opacity 0.5s ease-in-out;
}

#map-container text{
    cursor: pointer;
}

#map-container .borders {
    stroke:#fff;
    stroke-width:1.5
}

#map-container .state .ak, #map-container .state .hi{
    stroke: dimgrey;
    stroke-width:0.2
}

#map-container .dccircle {

}
#map-container .separator {
    stroke:#B0B0B0;
    stroke-width:1
}

#map-container svg {
    transition: transform 1s ease;
    /*transform: scale(2);*/
    transform-origin: center;
}

#searchbox .search-icon {
    position: relative;
    /*bottom: 10px;*/
    font-size: 16px;
    color: #aaa;
}

#map-container svg g.legend{
    transition: opacity 0.5s ease;
}

/** TODO:: Add border transition */

#map-container svg.zooming .state .borders .zoomed{
    stroke: darkgreen;
    stroke-width: 0.5;
}

#searchbox .search {
    border-radius: 0;
    font-size: 14px;
    border:none;
    background-color: inherit;
    /*border-bottom: 2px solid black;*/
}

#searchbox .search:focus::placeholder {
    color: transparent;
}

#searchbox .search:focus{
    outline: none;
    box-shadow: none;
    /*border-bottom: 2px solid black;*/
}

#searchbox .progress{
    background-color: #cccccc;
}

#searchbox .progress-bar{
    width: 0;
    transition: width 0.3s ease-in-out;
}

#searchbox .progress-bar.focused{
    width: 100%;
    transition: width 0.4s ease-in-out;
}

#searchbox .suggestions{
    font-size: 13px;
}

#searchbox .dropdown-menu {
    margin-top: 2px;
    border-radius: 0;
    overflow-y: auto;
    background-color: whitesmoke;
    max-height: 300px;
}

#searchbox .dropdown-item {
    cursor: pointer;
}

#searchbox .selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}
#searchbox .selected-items .badge {
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#searchbox .badge .remove {
    margin-left: 5px;
}

#searchbox .check-control{
    position: relative;

}

